*{
    margin: 0;
    
}
body{
    background-color: black;
    color: aliceblue;
}
.head{
    background-color: rgb(97, 92, 90);
    text-align: center;
    height: 87px;
  
}

.links ul{
    list-style-type: none;
    /* text-align: center; */
    margin-left: 557px;
    

}
.links li{
   margin-left: 10px;

}
.links li a{
    display: block;
    float: left;
    padding-left: 31px;
    padding-right: 38px;
    padding-bottom: 6px;
    padding-top: 4px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;

}
.links li a:hover{
    background-color: aliceblue;

}
#image img{
    height: 680px;
    width: 100%;
}
.dis h2{
    font-size: 45px;
    padding-left: 20px;
    font-style: italic;
    color: rgb(229, 176, 98);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   

}
.dis p{
     word-spacing: 5px;
     font-size: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     letter-spacing: 1px;
     margin-left: 29px;
     margin-right: 15px;
     margin-top: 10px;
}
#awa{
    border: 3px solid rgb(80, 67, 67);
    margin-left: 52px;
    margin-top: 21px;
    width: 426px;
    text-align: center;
}
#awa tr,th,td{
    border: 2px solid rgb(58, 45, 45);
    padding: 10px;
    
}
.list li{
   padding-top: 12px;
    font-size: 23px;
    font-family: sans-serif;

}